html,
body {
  height: 100%;
}
/* header */
.m-icon,
.m-nav {
  display: none;
  z-index: 10;
}
.container {
  padding-left: 3.6%;
  padding-right: 3.6%;
  overflow: hidden;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #f5f5f5;
}
.header .logo {
  width: 14%;
  padding: 0.35rem 0;
  display: inline-block;
}
.header .logo img {
  width: 100%;
}
.header .nav {
  width: 72%;
  text-align: center;
  display: flex;
  padding-left: 8%;
  padding-right: 4%;
  justify-content: space-around;
}
.header .nav li {
  display: inline-block;
  line-height: 0.4rem;
  height: 0.4rem;
  text-align: right;
  position: relative;
}
.header .nav li.active {
  border: 1px solid #d78d20;
}
.header .nav li.active a {
  color: #d78d20;
}
.header .nav li.active:after {
  content: "";
  position: absolute;
  width: 0.02rem;
  height: 0.2rem;
  background-color: #f5f5f5;
  top: 0.1rem;
  right: -0.02rem;
}
.header .nav li a {
  display: block;
  color: #666;
  padding-left: 0.4rem;
  text-align: right;
}
.header .nav li a:hover {
  color: #d78d20;
}
.header .search {
  width: 14%;
  height: 0.4rem;
  border: 1px solid #4d4d4d;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .search input {
  margin-left: 0.2rem;
  border: none;
  height: 0.28rem;
  line-height: 0.28rem;
  font-size: 0.14rem;
  width: 100%;
  background-color: #f5f5f5;
}
.header .search input::-webkit-input-placeholder {
  color: #909090;
  font-weight: normal;
  font-size: 0.14rem;
}
.header .search .icon {
  margin-right: 0.1rem;
  display: flex;
  text-align: center;
}
.header .search .icon img {
  width: 0.3rem;
}
/* banner */
.swiper-container.home .swiper-slide {
  padding-top: 0.8rem;
  height: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
}
.swiper-container.home .swiper-container.banner .swiper-slide {
  padding-top: 0;
}
.swiper-container.banner .swiper-slide {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
/* apply */
.apply {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.apply .text {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  display: flex;
  flex-direction: column;
  word-wrap: none;
  text-align: justify;
  text-justify: distribute-all-lines;
  /*ie6-8*/
  text-align-last: justify;
  /* ie9*/
  -moz-text-align-last: justify;
  /*ff*/
  -webkit-text-align-last: justify;
  /*chrome 20+*/
}
.apply .text .tit {
  width: 100%;
  color: #333333;
  font-size: 0.34rem;
  font-weight: 600;
}
.apply .text .subtit {
  width: 100%;
  margin-top: 0.1rem;
  color: #999999;
  font-size: 0.22rem;
}
.apply .input {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.apply .input input {
  width: 30%;
  border: none;
  height: 0.55rem;
  line-height: 0.55rem;
  font-size: 0.18rem;
  padding-left: 0.1rem;
  background-color: #ffffff;
}
.apply .input input::-webkit-input-placeholder {
  color: #909090;
  font-weight: normal;
  font-size: 0.18rem;
}
.apply .btn {
  width: 1.6rem;
  color: #ffffff;
  line-height: 0.55rem;
  background-color: #d78d20;
  text-align: center;
}
/* case */
.case {
  width: 100%;
}
.case .case-header {
  width: 100%;
}
.case .case-header .tit {
  height: 2rem;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.case .case-header .tit .tit-en {
  font-size: 0.48rem;
  color: #333333;
  font-weight: 600;
}
.case .case-header .tit .tit-zn {
  color: #d78d20;
  text-align: right;
  font-size: 0.28rem;
}
.case .case-header .case-nav {
  height: 2rem;
  float: right;
  display: flex;
  align-items: center;
}
.case .case-header .case-nav li {
  margin-left: 0.5rem;
  position: relative;
}
.case .case-header .case-nav li.active a {
  color: #d78d20;
}
.case .case-header .case-nav li.active:after {
  content: "";
  position: absolute;
  width: 0.05rem;
  height: 0.05rem;
  background-color: #d78d20;
  border-radius: 50%;
  left: -0.12rem;
  top: 0.12rem;
}
.case .case-header .case-nav li a {
  display: block;
  color: #666;
}
.case .case-header .case-nav li a:hover {
  color: #d78d20;
}
.case .detail {
  width: 100%;
  position: relative;
}
.case .detail .detail-img {
  width: 70%;
}
.case .detail .stack {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
}
.case .detail .stack .stack-one {
  width: 90%;
  height: 65%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-top: 10%;
}
.case .detail .stack .stack-one .tit {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  line-height: 0.5rem;
  font-size: 0.3rem;
  color: #d78d20;
  font-weight: 600;
  border-bottom: 2px solid #d78d20;
}
.case .detail .stack .stack-one .subtit {
  width: 90%;
  display: flex;
  font-size: 0.22rem;
  line-height: 0.5rem;
  justify-content: space-between;
}
.case .detail .stack .stack-one .content {
  width: 90%;
  color: #666;
  font-size: 0.18rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}
.case .detail .stack .stack-two {
  width: 90%;
  height: 80%;
  border: 4px solid #333333;
  position: absolute;
  right: 0.3rem;
}
.case .detail .stack .stack-thr {
  width: 100%;
  height: 0.8rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.case .detail .stack .stack-thr .btn {
  width: 0.8rem;
  height: 0.8rem;
  text-align: center;
  line-height: 0.8rem;
  background-color: #aaa8a5;
}
.case .detail .stack .stack-thr .btn img {
  width: 80%;
}
.case .detail .stack .stack-thr .btn:hover {
  background-color: #d78d20;
}
.case .case-list {
  width: 100%;
  background-color: #d78d20;
  padding: 0.1rem;
  display: flex;
  justify-content: space-around;
}
.case .case-list .case-list-one {
  width: 19.3%;
  position: relative;
}
.case .case-list .case-list-one img {
  width: 100%;
}
.case .case-list .case-list-one:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
  top: 0;
  opacity: 0.7;
  transition: all 0.7s;
}
.case .case-list .case-list-one.active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333333;
  left: 0;
  top: 0;
  opacity: 0;
}
.case .case-list .case-list-one:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333333;
  left: 0;
  top: 0;
  opacity: 0;
}
/* design */
.design {
  width: 100%;
}
.design .design-header {
  width: 100%;
}
.design .design-header .tit {
  height: 2rem;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.design .design-header .tit .tit-en {
  font-size: 0.48rem;
  color: #333333;
  font-weight: 600;
}
.design .design-header .tit .tit-zn {
  color: #d78d20;
  text-align: right;
  font-size: 0.28rem;
}
.design .design-header .design-nav {
  height: 2rem;
  float: right;
  display: flex;
  align-items: center;
}
.design .design-header .design-nav li {
  margin-left: 0.5rem;
  position: relative;
}
.design .design-header .design-nav li.active a {
  color: #d78d20;
}
.design .design-header .design-nav li.active:after {
  content: "";
  position: absolute;
  width: 0.05rem;
  height: 0.05rem;
  background-color: #d78d20;
  border-radius: 50%;
  left: -0.12rem;
  top: 0.12rem;
}
.design .design-header .design-nav li a {
  display: block;
  color: #666;
}
.design .design-header .design-nav li a:hover {
  color: #d78d20;
}
.design .design-list {
  width: 100%;
}
.design .design-list .design-list-img {
  float: left;
  width: 25%;
  position: relative;
  padding-bottom: 0.2rem;
  margin-bottom: 0.1rem;
}
.design .design-list .design-list-img .img-box {
  width: 100%;
  position: relative;
}
.design .design-list .design-list-img .img-box img {
  width: 100%;
}
.design .design-list .design-list-img .img-box:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
  top: 0;
  opacity: 0.7;
  transition: all 0.7s;
}
.design .design-list .design-list-img .text {
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  font-size: 0.18rem;
  position: relative;
}
.design .design-list .design-list-img .text:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  left: 0;
  top: 0;
  transition: all 0.8s;
}
.design .design-list .design-list-img .text .tit {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.design .design-list .design-list-img .text .tit .name {
  font-size: 0.28rem;
  margin-right: 0.15rem;
  color: #333333;
}
.design .design-list .design-list-img .text .tit .position {
  font-size: 0.22rem;
}
.design .design-list .design-list-img .text .lines {
  width: 100%;
  margin-top: 0.1rem;
  display: flex;
}
.design .design-list .design-list-img .text .lines .tit {
  white-space: nowrap;
  line-height: 0.2rem;
  height: 0.2rem;
}
.design .design-list .design-list-img .text .lines .content {
  overflow: hidden;
  line-height: 0.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}
.design .design-list .design-list-img:hover:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 95%;
  border: 4px solid #d78d20;
  left: 10%;
  top: 5%;
}
.design .design-list .design-list-img:hover .img-box:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333333;
  left: 0;
  top: 0;
  opacity: 0;
}
.design .design-list .design-list-img:hover .text:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  left: 0;
  top: 0;
  opacity: 0;
}
/* /design */
/* about */
.about {
  margin-top: 1rem;
  width: 100%;
  background-color: #f5f5f5;
  position: relative;
}
.about .left {
  width: 45%;
  height: 100%;
  float: left;
}
.about .left .tit {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
.about .left .tit .tit-en {
  font-size: 0.48rem;
  color: #333333;
  font-weight: 600;
}
.about .left .tit .tit-zn {
  color: #d78d20;
  font-size: 0.28rem;
  text-align: right;
}
.about .left .content {
  margin-top: 0.3rem;
  width: 100%;
  font-size: 0.18rem;
  color: #949494;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
}
.about .right {
  width: 55%;
  z-index: 222;
}
.about .right img {
  width: 100%;
  z-index: 222;
}
.about .tags {
  height: 20%;
  width: 40%;
  left: 0.5rem;
  position: absolute;
  bottom: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about .tags .tag {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .tags .tag .tag-num {
  display: flex;
  position: relative;
  color: #000000;
}
.about .tags .tag .tag-num .num {
  font-size: 0.48rem;
  font-weight: 600;
}
.about .tags .tag .tag-num .mark {
  position: absolute;
  font-size: 0.24rem;
  right: -0.15rem;
  bottom: 0.07rem;
}
.about .tags .tag .text {
  line-height: 0.3rem;
  color: #949494;
  border-top: 1px solid #949494;
}
.about .tags .more {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  border: 4px solid #d78d20;
  z-index: 99999;
}
.about .tags .btn {
  width: 1rem;
  height: 30%;
  background-color: #d78d20;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -0.5rem;
  top: 35%;
}
.about .tags .btn a {
  color: #ffffff;
}
/* /about */
/* news */
.news {
  width: 100%;
}
.news .news-header {
  width: 100%;
}
.news .news-header .tit {
  height: 2rem;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news .news-header .tit .tit-en {
  font-size: 0.48rem;
  color: #333333;
  font-weight: 600;
}
.news .news-header .tit .tit-zn {
  color: #d78d20;
  text-align: right;
  font-size: 0.28rem;
}
.news .news-header .news-nav {
  height: 2rem;
  float: right;
  display: flex;
  align-items: center;
}
.news .news-header .news-nav li {
  margin-left: 0.5rem;
  position: relative;
}
.news .news-header .news-nav li.active a {
  color: #d78d20;
}
.news .news-header .news-nav li.active:after {
  content: "";
  position: absolute;
  width: 0.05rem;
  height: 0.05rem;
  background-color: #d78d20;
  border-radius: 50%;
  left: -0.12rem;
  top: 0.12rem;
}
.news .news-header .news-nav li a {
  display: block;
  color: #666;
}
.news .news-header .news-nav li a:hover {
  color: #d78d20;
}
.news .news-list {
  width: 103%;
  margin-left: -3%;
  padding-bottom: 1.2rem;
}
.news .news-list .item {
  margin-left: 3%;
  width: 22%;
  height: 5rem;
  float: left;
  position: relative;
  margin-bottom: 1rem;
}
.news .news-list .item img {
  height: 3rem;
}
.news .news-list .item .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.4rem;
}
.news .news-list .item .text .tit {
  font-size: 0.24rem;
  color: #333333;
}
.news .news-list .item .text .subtit {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 0.16rem;
  color: #949494;
}
.news .news-list .item .text .content {
  font-size: 0.16rem;
  width: 100%;
  color: #949494;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.news .news-list .item .more {
  display: none;
  position: absolute;
  bottom: 1rem;
  left: 0.4rem;
  width: 2rem;
  background-color: #d78d20;
  text-align: center;
  line-height: 0.5rem;
}
.news .news-list .item .more a {
  color: #ffffff;
}
.news .news-list .item:hover {
  border: 4px solid #d78d20;
  padding-left: 0.2rem;
}
.news .news-list .item:hover img {
  opacity: 0;
}
.news .news-list .item:hover .text {
  position: absolute;
  top: 0.5rem;
  left: 0.4rem;
  padding-right: 0.8rem;
}
.news .news-list .item:hover .text .content {
  border-top: 1px solid #eee8e8;
  padding-top: 0.25rem;
}
.news .news-list .item:hover .more {
  display: block;
}
/* /news */
/* bottom */
.bottom {
  width: 100%;
  padding-top: 0.7rem;
  padding-bottom: 1rem;
  background-color: #1a1a1a;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bottom .company {
  width: 25%;
  font-size: 0.18rem;
}
.bottom .company .logo {
  width: 60%;
  margin-bottom: 0.2rem;
}
.bottom .company .tel {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.bottom .company .code {
  width: 90%;
  display: flex;
  border: 2px solid #ffffff;
}
.bottom .company .code .text {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-size: 0.16rem;
}
.bottom .company .code .text .tit {
  font-size: 0.24rem;
  margin-bottom: 0.1rem;
}
.bottom .company .code img {
  width: 40%;
}
.bottom .from {
  width: 45%;
}
.bottom .from .input-row {
  float: left;
  width: 42.5%;
  display: flex;
  margin-left: 5%;
  height: 0.5rem;
  margin-top: 0.2rem;
  line-height: 0.5rem;
}
.bottom .from .input-row .tit {
  margin-right: 0.1rem;
}
.bottom .from .input-row input {
  color: #ffffff;
  width: 65%;
  height: 0.5rem;
  background: none;
  border: 1px solid #535353;
  padding-left: 0.2rem;
  line-height: 0.5rem;
}
.bottom .from .input-content {
  width: 90%;
  height: 1.5rem;
  float: left;
  margin-left: 5%;
  margin-bottom: 0.4rem;
  margin-top: 0.2rem;
  display: flex;
}
.bottom .from .input-content .tit {
  margin-right: 0.1rem;
}
.bottom .from .input-content textarea {
  border: 1px solid #535353;
  width: 83%;
  background: none;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  color: #ffffff;
  line-height: 0.48rem;
}
.bottom .from .btn {
  float: left;
  margin-left: 1.15rem;
  width: 1.8rem;
  height: 0.5rem;
  background-color: #d78d20;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.16rem;
}
.bottom .from .btn a {
  color: #ffffff;
}
.bottom .copy {
  width: 25%;
}
.bottom .copy .tel {
  float: right;
  display: flex;
  align-items: center;
}
.bottom .copy .tel img {
  width: 0.6rem;
  margin-right: 0.1rem;
}
.bottom .copy .tel .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bottom .copy .tel .text .tel-num {
  font-size: 0.36rem;
  font-weight: 600;
}
.bottom .copy .search {
  float: right;
  margin-top: 0.5rem;
  display: flex;
  width: 80%;
  height: 0.4rem;
  border: 1px solid #535353;
  align-items: center;
  font-size: 0.19rem;
}
.bottom .copy .search input {
  width: 85%;
  height: 100%;
  margin-left: 0.2rem;
  background: none;
  border: none;
  color: #ffffff;
}
.bottom .copy .search a img {
  width: 90%;
}
.bottom .copy .copyright {
  float: right;
  margin-top: 0.5rem;
  text-align: right;
  font-size: 0.14rem;
}
.m-bottom {
  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 0.2rem 0.2rem;
  background-color: #ffffff;
  z-index: 99999;
}
.m-bottom .tab {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.m-bottom .tab.active {
  color: red;
}
.m-bottom .tab img {
  width: 30%;
}
@media screen and (max-width: 1000px) {
  /* header */
  .header .logo {
    width: 10%;
  }
  .header .logo img {
    width: 100%;
  }
  .header .nav {
    width: 70%;
    padding-left: 0;
    padding-right: 0;
  }
  .header .search {
    width: 16%;
  }
  /* bottom */
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bottom .company {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bottom .from {
    width: 100%;
    margin-top: 0.5rem;
  }
  .bottom .copy {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
  }
  /* /bottom */
}
@media screen and (max-width: 768px) {
  /* header */
  .header .nav {
    display: none;
  }
  .header .m-nav {
    display: block;
  }
  /* /header */
  /* apply */
  .apply {
    flex-direction: column;
  }
  .apply .input {
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  /* /apply */
  /* case */
  .case {
    width: 100%;
    padding-bottom: 0.5rem;
  }
  .case .case-header .tit {
    height: 1rem;
  }
  .case .case-header .tit .tit-zn {
    color: #d78d20;
    text-align: left;
  }
  .case .case-header .case-nav {
    height: 1rem;
  }
  .case .case-header .case-nav li {
    margin-left: 0.1rem;
  }
  .case .detail {
    width: 100%;
    position: relative;
  }
  .case .detail .detail-img {
    width: 100%;
  }
  .case .detail .stack {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
  }
  .case .detail .stack .stack-one {
    padding-top: 2%;
  }
  .case .case-list {
    margin-top: 0.2rem;
  }
  .case .case-list .item {
    width: 100%;
  }
  /* design */
  .design .design-header .tit {
    height: 1rem;
  }
  .design .design-header .tit .tit-zn {
    color: #d78d20;
    text-align: left;
  }
  .design .design-header .design-nav {
    height: 1rem;
  }
  .design .design-list {
    width: 100%;
  }
  .design .design-list .design-list-img {
    width: 50%;
  }
  /* /design */
  /* about */
  .about {
    padding-bottom: 2rem;
  }
  .about .left {
    width: 50%;
  }
  .about .left .tit {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
  .about .right {
    width: 50%;
  }
  .about .tags {
    height: 25%;
    width: 70%;
    left: 0.3rem;
  }
  .about .tags .tag {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* news */
  .news {
    width: 100%;
    padding-bottom: 2rem;
  }
  .news .news-header .tit {
    height: 1rem;
  }
  .news .news-header .tit .tit-zn {
    color: #d78d20;
    text-align: left;
  }
  .news .news-header .news-nav {
    height: 1rem;
  }
  .news .news-list {
    margin-top: 0.2rem;
  }
  .news .news-list .item {
    width: 47%;
  }
  /* bottom */
  .bottom {
    display: none;
  }
  .m-bottom {
    display: block;
  }
  /* /bottom */
}
