html,
body {
  height: 100%;
}
/* header */
.m-icon,
.m-nav {
  display: none;
  z-index: 5;
}
.container {
  padding-left: 3.5%;
  padding-right: 3.5%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #f5f5f5;
  position: relative;
  height: 1.15rem;
}
.header .logo {
  width: 14%;
  display: inline-block;
}
.header .logo img {
  width: 100%;
}
.header .nav {
  width: 71.4%;
  text-align: center;
  display: flex;
  padding-left: 8%;
  padding-right: 4%;
  justify-content: space-around;
}
.header .nav li {
  display: inline-block;
  line-height: 0.45rem;
  height: 0.45rem;
  text-align: right;
  position: relative;
}
.header .nav li.active {
  border: 1px solid #d78d20;
  box-sizing: border-box;
  padding-right: 0.05rem;
}
.header .nav li.active a {
  color: #d78d20;
}
.header .nav li.active:after {
  content: "";
  position: absolute;
  width: 0.02rem;
  height: 0.3rem;
  background-color: #f5f5f5;
  top: 0.07rem;
  right: -0.02rem;
}
.header .nav li a {
  display: block;
  color: #666;
  padding-left: 0.4rem;
  text-align: right;
}
.header .nav li a:hover {
  color: #d78d20;
}
.header .m-icon {
  display: none;
  position: absolute;
  float: right;
  width: 0.4rem;
  height: 50%;
  right: 0.3rem;
  background: url(../images/nav.png) no-repeat;
  background-size: 0.4rem;
  top: 58%;
  transform: translateY(-50%);
}
.header .m-nav {
  position: absolute;
  background-color: #f5f5f5;
  width: 100%;
  height: 5rem;
  text-align: center;
  display: none;
  top: 1rem;
  left: 0;
  z-index: 10;
}
.header .m-nav li {
  width: 100%;
  float: left;
  line-height: 0.8rem;
  font-size: 0.3rem;
  position: relative;
}
.header .m-nav li a {
  color: #666;
}
.header .m-nav li.active {
  background-color: #d78d20;
}
.header .m-nav li.active a {
  color: #fff;
}
.header .search {
  width: 14.6%;
  height: 0.4rem;
  border: 1px solid #4d4d4d;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .search input {
  margin-left: 0.2rem;
  border: none;
  height: 0.28rem;
  line-height: 0.28rem;
  font-size: 0.14rem;
  width: 100%;
  background-color: #f5f5f5;
}
.header .search input::-webkit-input-placeholder {
  color: #909090;
  font-weight: normal;
  font-size: 0.14rem;
}
.header .search .icon {
  margin-right: 0.1rem;
  display: flex;
  text-align: center;
}
.header .search .icon img {
  width: 0.3rem;
}
/* banner */
.banner {
  width: 100%;
  background-color: #f5f5f5;
}
.banner .swiper-container .swiper-slide {
  height: 100%;
  overflow: hidden;
}
.banner .swiper-container .swiper-container.banner .swiper-slide {
  padding-top: 0;
}
.banner .swiper-container.banner .swiper-slide {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.banner .swiper-container.banner img {
  width: 100%;
  height: 100%;
}
/* apply */
.apply {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  height: 1.5rem;
  position: relative;
}
.apply .text {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  letter-spacing: 0.02rem;
  display: flex;
  flex-direction: column;
  word-wrap: none;
  text-align: justify;
  text-justify: distribute-all-lines;
  /*ie6-8*/
  text-align-last: justify;
  /* ie9*/
  -moz-text-align-last: justify;
  /*ff*/
  -webkit-text-align-last: justify;
  /*chrome 20+*/
}
.apply .text .tit {
  width: 100%;
  color: #333333;
  font-size: 0.34rem;
  font-weight: 600;
  white-space: nowrap;
}
.apply .text .subtit {
  width: 100%;
  margin-top: 0.05rem;
  color: #999999;
  font-size: 0.22rem;
  white-space: nowrap;
}
.apply .input {
  width: 72%;
  display: flex;
  padding-left: 0.5rem;
}
.apply .input input {
  border: none;
  height: 0.55rem;
  line-height: 0.55rem;
  font-size: 0.18rem;
  padding-left: 0.2rem;
  margin-left: 0.2rem;
  background-color: #ffffff;
}
.apply .input .one {
  width: 30%;
}
.apply .input .two {
  width: 30%;
}
.apply .input .thr {
  width: 37%;
}
.apply .input input::-webkit-input-placeholder {
  color: #909090;
  font-weight: normal;
  font-size: 0.18rem;
}
.apply .btn {
  position: absolute;
  right: 3.6%;
  width: 1.6rem;
  line-height: 0.55rem;
  background-color: #d78d20;
  text-align: center;
}
.apply .btn a {
  color: #ffffff;
}
/* case */
.case {
  width: 100%;
}
.case .case-header {
  width: 100%;
  height: 2.4rem;
}
.case .case-header .tit {
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.case .case-header .tit .tit-en {
  margin-top: 0.15rem;
  font-size: 0.48rem;
  color: #333333;
  font-weight: 600;
  line-height: 0.48rem;
}
.case .case-header .tit .tit-zn {
  color: #d78d20;
  text-align: right;
  font-size: 0.28rem;
  line-height: 0.28rem;
}
.case .case-header .case-nav {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}
.case .case-header .case-nav li {
  margin-left: 0.66rem;
  position: relative;
  display: block;
  color: #666;
}
.case .case-header .case-nav li:hover {
  color: #d78d20;
}
.case .case-header .case-nav li.active {
  color: #d78d20;
}
.case .case-header .case-nav li.active:after {
  content: "";
  position: absolute;
  width: 0.08rem;
  height: 0.08rem;
  background-color: #d78d20;
  border-radius: 50%;
  left: -0.2rem;
  top: 0.12rem;
}
.case .detail {
  width: 100%;
  position: relative;
}
.case .detail img {
  width: 74%;
}
.case .detail .stack {
  width: 49.6%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
}
.case .detail .stack .stack-one {
  width: 90%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.case .detail .stack .stack-one .stack-one-item {
  display: none;
  padding-left: 1.3rem;
  padding-bottom: 0.2rem;
}
.case .detail .stack .stack-one .stack-one-item.active {
  display: block;
}
.case .detail .stack .stack-one .tit {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  line-height: 0.7rem;
  font-size: 0.3rem;
  color: #d78d20;
  font-weight: 600;
  border-bottom: 2px solid #d78d20;
}
.case .detail .stack .stack-one .subtit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.22rem;
  margin-top: 0.24rem;
  margin-bottom: 0.27rem;
}
.case .detail .stack .stack-one .subtit p {
  margin-right: 6%;
}
.case .detail .stack .stack-one .content {
  width: 90%;
  color: #666;
  font-size: 0.18rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
}
.case .detail .stack .stack-two {
  width: 90%;
  height: 77%;
  border: 4px solid #333333;
  position: absolute;
  right: 0.3rem;
}
.case .detail .stack .stack-thr {
  width: 100%;
  height: 0.8rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.case .detail .stack .stack-thr .btn {
  width: 0.86rem;
  height: 0.86rem;
  text-align: center;
  line-height: 0.86rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaa8a5;
}
.case .detail .stack .stack-thr .btn img {
  width: 57%;
}
.case .detail .stack .stack-thr .btn:hover {
  background-color: #d78d20;
}
.case .case-list {
  width: 100%;
  background-color: #d78d20;
  padding: 0.1rem;
  overflow: hidden;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
}
.case .case-list .case-list-one {
  width: 19.5%;
  position: relative;
  flex-shrink: 0;
  margin-right: 0.65%;
}
.case .case-list .case-list-one img {
  width: 100%;
}
.case .case-list .case-list-one:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
  top: 0;
  opacity: 0.7;
  transition: all 0.7s;
}
.case .case-list .case-list-one.active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333333;
  left: 0;
  top: 0;
  opacity: 0;
}
/* design */
.design {
  width: 100%;
}
.design .design-header {
  width: 100%;
  height: 2.4rem;
}
.design .design-header .tit {
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.design .design-header .tit .tit-en {
  margin-top: 0.15rem;
  font-size: 0.48rem;
  color: #333333;
  font-weight: 600;
  line-height: 0.48rem;
}
.design .design-header .tit .tit-zn {
  color: #d78d20;
  text-align: right;
  font-size: 0.28rem;
  line-height: 0.28rem;
}
.design .design-header .design-nav {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}
.design .design-header .design-nav li {
  margin-left: 0.66rem;
  position: relative;
  display: block;
  color: #666;
}
.design .design-header .design-nav li:hover {
  color: #d78d20;
}
.design .design-header .design-nav li.active {
  color: #d78d20;
}
.design .design-header .design-nav li.active:after {
  content: "";
  position: absolute;
  width: 0.08rem;
  height: 0.08rem;
  background-color: #d78d20;
  border-radius: 50%;
  left: -0.2rem;
  top: 0.12rem;
}
.design .design-list {
  width: 100%;
  padding-bottom: 0.2rem;
  margin-bottom: 0.7rem;
}
.design .design-list .swiper-wrapper {
  width: 100%;
}
.design .design-list .swiper-wrapper .swiper-slide {
  position: relative;
  padding-bottom: 0.2rem;
  background: #fff;
}
.design .design-list .swiper-wrapper .swiper-slide .img-box {
  width: 100%;
  position: relative;
}
.design .design-list .swiper-wrapper .swiper-slide .img-box img {
  width: 100%;
}
.design .design-list .swiper-wrapper .swiper-slide .img-box:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
  top: 0;
  opacity: 0.7;
  transition: all 0.7s;
}
.design .design-list .swiper-wrapper .swiper-slide .text {
  width: 65%;
  margin-left: 20%;
  margin-top: 8%;
  font-size: 0.18rem;
  position: relative;
}
.design .design-list .swiper-wrapper .swiper-slide .text:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  left: 0;
  top: 0;
  transition: all 0.8s;
}
.design .design-list .swiper-wrapper .swiper-slide .text .tit {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 0.22rem;
}
.design .design-list .swiper-wrapper .swiper-slide .text .tit .name {
  font-size: 0.28rem;
  margin-right: 0.15rem;
  color: #333333;
}
.design .design-list .swiper-wrapper .swiper-slide .text .tit .position {
  font-size: 0.22rem;
  color: #666666;
}
.design .design-list .swiper-wrapper .swiper-slide .text .lines {
  width: 100%;
  margin-top: 0.1rem;
  display: flex;
  color: #666666;
}
.design .design-list .swiper-wrapper .swiper-slide .text .lines .tit {
  white-space: nowrap;
  line-height: 0.23rem;
  height: 0.23rem;
}
.design .design-list .swiper-wrapper .swiper-slide .text .lines .content {
  overflow: hidden;
  line-height: 0.23rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}
.design .design-list .swiper-wrapper .swiper-slide.active:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 95%;
  border: 4px solid #d78d20;
  left: 10%;
  top: 5%;
}
.design .design-list .swiper-wrapper .swiper-slide.active .img-box:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333333;
  left: 0;
  top: 0;
  opacity: 0;
}
.design .design-list .swiper-wrapper .swiper-slide.active .text:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  left: 0;
  top: 0;
  opacity: 0;
}
/* /design */
/* about */
.about {
  width: 100%;
  background-color: #f5f5f5;
  position: relative;
}
.about .left {
  width: 45%;
  height: 100%;
  float: left;
}
.about .left .tit {
  height: 2.4rem;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .left .tit .tit-en {
  font-size: 0.48rem;
  line-height: 0.48rem;
  color: #333333;
  font-weight: 600;
}
.about .left .tit .tit-zn {
  color: #d78d20;
  font-size: 0.28rem;
  text-align: right;
  line-height: 0.28rem;
}
.about .left .content {
  width: 100%;
  font-size: 0.18rem;
  line-height: 0.3rem;
  color: #666666;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
}
.about .right {
  width: 55%;
  z-index: 2;
}
.about .right img {
  width: 100%;
  z-index: 2;
}
.about .tags {
  height: 23%;
  width: 39%;
  left: 0.7rem;
  padding-left: 1.6%;
  position: absolute;
  bottom: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .tags .tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.2rem;
}
.about .tags .tag .tag-num {
  display: flex;
  position: relative;
  color: #000000;
  margin-bottom: 0.05rem;
}
.about .tags .tag .tag-num .num {
  font-size: 0.48rem;
  font-weight: 600;
}
.about .tags .tag .tag-num .mark {
  position: absolute;
  font-size: 0.24rem;
  right: -0.2rem;
  bottom: 0.07rem;
}
.about .tags .tag .text {
  padding-top: 0.15rem;
  font-size: 0.18rem;
  line-height: 0.18rem;
  color: #666666;
  border-top: 1px solid #cfcfcf;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.about .tags .more {
  position: absolute;
  top: 0;
  left: 0;
  width: 118%;
  height: 100%;
  border: 5px solid #d78d20;
  border-left-width: 4px;
  border-right-width: 4px;
  z-index: 3;
}
.about .tags .btn {
  width: 1.6rem;
  height: 31%;
  background-color: #d78d20;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -1.15rem;
  top: 35%;
}
.about .tags .btn a {
  color: #ffffff;
}
/* /about */
/* news */
.news {
  width: 100%;
  padding-bottom: 0.6rem;
}
.news .news-header {
  width: 100%;
  height: 2.4rem;
}
.news .news-header .tit {
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news .news-header .tit .tit-en {
  margin-top: 0.15rem;
  font-size: 0.48rem;
  color: #333333;
  font-weight: 600;
  line-height: 0.48rem;
}
.news .news-header .tit .tit-zn {
  color: #d78d20;
  text-align: right;
  font-size: 0.28rem;
  line-height: 0.28rem;
}
.news .news-header .news-nav {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}
.news .news-header .news-nav li {
  margin-left: 0.66rem;
  position: relative;
  display: block;
  color: #666;
}
.news .news-header .news-nav li:hover {
  color: #d78d20;
}
.news .news-header .news-nav li.active {
  color: #d78d20;
}
.news .news-header .news-nav li.active:after {
  content: "";
  position: absolute;
  width: 0.08rem;
  height: 0.08rem;
  background-color: #d78d20;
  border-radius: 50%;
  left: -0.2rem;
  top: 0.12rem;
}
.news .news-list {
  width: 103%;
  margin-left: -1.6%;
}
.news .news-list .item {
  margin-left: 1.6%;
  width: 23%;
  height: 4.7rem;
  float: left;
  position: relative;
  margin-bottom: 1rem;
}
.news .news-list .item img {
  width: 100%;
}
.news .news-list .item .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.4rem;
}
.news .news-list .item .text .tit {
  font-size: 0.24rem;
  color: #333333;
}
.news .news-list .item .text .subtit {
  margin-top: 0.15rem;
  margin-bottom: 0.26rem;
  font-size: 0.16rem;
  color: #949494;
}
.news .news-list .item .text .content {
  font-size: 0.16rem;
  width: 100%;
  color: #666666;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.news .news-list .item .more {
  display: none;
  position: absolute;
  bottom: 0.8rem;
  left: 0.4rem;
  width: 2rem;
  background-color: #d78d20;
  text-align: center;
  line-height: 0.5rem;
}
.news .news-list .item .more a {
  color: #ffffff;
}
.news .news-list .item:hover {
  border: 4px solid #d78d20;
  padding-left: 0.2rem;
}
.news .news-list .item:hover img {
  opacity: 0;
}
.news .news-list .item:hover .text {
  position: absolute;
  top: 0.5rem;
  left: 0.4rem;
  padding-right: 0.8rem;
}
.news .news-list .item:hover .text .content {
  border-top: 1px solid #f5f5f5;
  padding-top: 0.25rem;
}
.news .news-list .item:hover .more {
  display: block;
}
/* /news */
/* bottom */
.bottom {
  width: 100%;
  padding-top: 0.7rem;
  padding-bottom: 1rem;
  background-color: #1a1a1a;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bottom .company {
  width: 22%;
  font-size: 0.18rem;
}
.bottom .company .logo {
  width: 64%;
  margin-bottom: 0.5rem;
}
.bottom .company .tel {
  line-height: 0.2rem;
  margin-top: 0.17rem;
  margin-bottom: 0.3rem;
}
.bottom .company .code {
  width: 100%;
  display: flex;
  border: 1px solid #ffffff;
}
.bottom .company .code .text {
  width: 62%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-size: 0.16rem;
}
.bottom .company .code .text .tit {
  font-size: 0.24rem;
  margin-bottom: 0.1rem;
}
.bottom .company .code img {
  width: 38%;
}
.bottom .from {
  margin-left: 0.2rem;
  width: 41%;
}
.bottom .from .input-row {
  float: left;
  width: 46%;
  margin-left: 4%;
  display: flex;
  height: 0.4rem;
  line-height: 0.4rem;
  margin-bottom: 0.3rem;
}
.bottom .from .input-row input {
  color: #ffffff;
  width: 75%;
  height: 0.4rem;
  font-size: 0.18rem;
  background: none;
  border: 1px solid #535353;
  padding-left: 0.2rem;
  line-height: 0.4rem;
}
.bottom .from .input-content {
  margin-left: 4%;
  width: 100%;
  height: 1.5rem;
  float: left;
  margin-bottom: 0.3rem;
  display: flex;
}
.bottom .from .input-content textarea {
  border: 1px solid #535353;
  width: 85%;
  background: none;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  color: #ffffff;
  line-height: 0.48rem;
}
.bottom .from .btn {
  float: left;
  margin-left: 12.2%;
  width: 1.4rem;
  height: 0.4rem;
  background-color: #d78d20;
  line-height: 0.4rem;
  text-align: center;
  font-size: 0.16rem;
}
.bottom .from .btn a {
  color: #ffffff;
}
.bottom .copy {
  width: 22.3%;
}
.bottom .copy .tel {
  float: right;
  display: flex;
  align-items: center;
}
.bottom .copy .tel img {
  width: 0.6rem;
  margin-right: 0.1rem;
}
.bottom .copy .tel .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bottom .copy .tel .text .tel-num {
  font-size: 0.36rem;
  font-weight: 600;
}
.bottom .copy .search {
  float: right;
  margin-top: 0.5rem;
  display: flex;
  width: 100%;
  height: 0.5rem;
  border: 1px solid #535353;
  align-items: center;
  font-size: 0.19rem;
}
.bottom .copy .search input {
  width: 85%;
  height: 100%;
  margin-left: 0.2rem;
  background: none;
  border: none;
  color: #a8a8a8;
}
.bottom .copy .search input::-webkit-input-placeholder {
  color: #a8a8a8;
  font-weight: normal;
  font-size: 0.16rem;
}
.bottom .copy .search a img {
  width: 90%;
}
.bottom .copy .copyright {
  float: right;
  margin-top: 0.4rem;
  text-align: right;
  font-size: 0.14rem;
  color: #a8a8a8;
}
.bottom .copy .copyright p {
  margin-bottom: 0.06rem;
}
.m-bottom {
  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 0.2rem 0.2rem;
  background-color: #ffffff;
  z-index: 4;
}
.m-bottom .tab {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.m-bottom .tab.active {
  color: red;
}
.m-bottom .tab img {
  width: 30%;
}
@media screen and (max-width: 1000px) {
  /* header */
  .header .logo {
    width: 10%;
  }
  .header .logo img {
    width: 100%;
  }
  .header .nav {
    width: 70%;
    padding-left: 0;
    padding-right: 0;
  }
  .header .search {
    width: 16%;
  }
  /* bottom */
  .bottom .from {
    width: 45%;
    margin-top: 0.5rem;
  }
  /* /bottom */
}
@media screen and (max-width: 768px) {
  /* header */
  .header .logo {
    width: 30%;
  }
  .header .m-icon {
    display: block;
  }
  .header .search {
    width: 40%;
  }
  .header .nav {
    display: none;
  }
  /* /header */
  /* apply */
  .apply {
    flex-direction: column;
    align-items: center;
    height: 3rem;
    padding-top: 0.5rem;
  }
  .apply .text {
    width: 40%;
  }
  .apply .input {
    width: 100%;
    padding-left: 0;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .apply .btn {
    bottom: 10%;
    left: 40%;
  }
  /* /apply */
  /* case */
  .case {
    width: 100%;
    padding-bottom: 0.5rem;
  }
  .case .case-header .tit {
    height: 1rem;
  }
  .case .case-header .tit .tit-zn {
    color: #d78d20;
    text-align: left;
  }
  .case .case-header .case-nav {
    height: 1rem;
  }
  .case .case-header .case-nav li {
    margin-left: 0.1rem;
  }
  .case .case-header .case-nav li.active:after {
    display: none;
  }
  .case .detail {
    width: 100%;
    position: relative;
  }
  .case .detail img {
    float: left;
    width: 100%;
  }
  .case .detail .stack {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
  }
  .case .detail .stack .stack-one {
    padding-top: 2%;
    width: 100%;
    height: 95%;
  }
  .case .detail .stack .stack-one .stack-one-item {
    width: 95%;
  }
  .case .detail .stack .stack-two {
    height: 95%;
  }
  .case .detail .stack .stack-thr .btn {
    width: 0.86rem;
    height: 0.86rem;
  }
  .case .case-list {
    margin-top: 0.2rem;
  }
  .case .case-list .case-list-one {
    margin-right: 0.8%;
  }
  /* design */
  .design .design-header .tit {
    height: 1rem;
  }
  .design .design-header .tit .tit-zn {
    color: #d78d20;
    text-align: left;
  }
  .design .design-header .design-nav {
    height: 1rem;
  }
  .design .design-list {
    width: 100%;
  }
  .design .design-list .design-list-img {
    margin-bottom: 0.2rem;
    width: 50%;
  }
  /* /design */
  /* about */
  .about {
    margin-top: 0;
    padding-bottom: 2rem;
  }
  .about .left {
    width: 50%;
  }
  .about .left .tit {
    padding-top: 0.1rem;
    height: 1rem;
  }
  .about .right {
    width: 50%;
  }
  .about .tags {
    height: 30%;
    width: 70%;
    left: 0.3rem;
    padding-left: 0.1rem;
  }
  .about .tags .tag {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about .tags .tag .tit {
    font-size: 0.25rem;
  }
  .about .tags .more {
    width: 115%;
  }
  /* news */
  .news {
    width: 100%;
    padding-bottom: 2rem;
  }
  .news .news-header {
    display: flex;
    flex-direction: column;
  }
  .news .news-header .tit {
    height: 1rem;
  }
  .news .news-header .tit .tit-zn {
    color: #d78d20;
    text-align: left;
  }
  .news .news-header .news-nav {
    width: 100%;
    float: none;
    display: flex;
    display: block;
    flex-direction: row;
    line-height: 1rem;
  }
  .news .news-header .news-nav li {
    float: right;
  }
  .news .news-header .news-nav li.active:after {
    display: none;
  }
  .news .news-list {
    margin-top: 0.2rem;
  }
  .news .news-list .item {
    width: 47%;
  }
  /* bottom */
  .bottom {
    display: none;
  }
  .m-bottom {
    display: block;
  }
  /* /bottom */
}
